@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  border: none;
  outline: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fdfdfd;
}

.App {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
}

.container {
  width: 85%;
  max-width: 100%;
  margin: 30px auto;
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 25px;
}

@media (max-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.flex--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #181717;
}

h1 {
  font-weight: 700;
  font-size: 32px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

p {
  font-weight: 300;
  line-height: 25px;
  font-size: 16px;
}

.mb--s {
  margin-bottom: 25px;
}

.text--mb--s {
  margin-bottom: 25px;
}

.text--mb--m {
  margin-bottom: 50px;
}

.text--mb--l {
  margin-bottom: 100px;
}

.mt--s {
  margin-top: 25px;
}

.mt--m {
  margin-top: 50px;
}

.mt--l {
  margin-top: 100px;
}

.mr {
  margin-right: 80px;
}

a {
  color: #181717;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.slide-top {
  -webkit-animation: slide-top 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: slide-top 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-21 10:56:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

.rotate-center {
  -webkit-animation: rotate-center 8s linear infinite both;
  animation: rotate-center 8s linear infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.cursor {
  z-index: 1000000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #181717;
  pointer-events: none;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: fixed;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

@media only screen and (max-width: 1440px) {
  .cursor {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .cursor {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .cursor {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .cursor {
    opacity: 0;
  }
}

.footer-cursor--white {
  -webkit-transform: scale(3.5);
          transform: scale(3.5);
  background-color: white;
}

@media (max-width: 768px) {
  .footer-cursor--white {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .footer-cursor--white {
    opacity: 0;
  }
}

.link-grow {
  -webkit-transform: scale(6);
          transform: scale(6);
  background-color: #181717;
}

@media (max-width: 768px) {
  .link-grow {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .link-grow {
    opacity: 0;
  }
}

.translate-cursor-router {
  -webkit-transform: scale(950);
          transform: scale(950);
  -webkit-transition: scale 650ms ease;
  transition: scale 650ms ease;
}

.bolder--800 {
  font-weight: 800;
}

.normal--400 {
  font-weight: 400;
  line-height: 25px;
  font-size: 16px;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 8px;
  opacity: 0.5;
  display: inherit;
}

.heading--h1 {
  font-size: 35px;
}

@media (max-width: 1024px) {
  .heading--h1 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .heading--h1 {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .heading--h1 {
    font-size: 25px;
  }
}

.heading--h2 {
  font-size: 40px;
}

@media (max-width: 1024px) {
  .heading--h2 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .heading--h2 {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .heading--h2 {
    font-size: 18px;
  }
}

.heading--h3 {
  font-size: 35px;
}

@media (max-width: 1024px) {
  .heading--h3 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .heading--h3 {
    font-size: 20px;
    line-height: 10px;
  }
}

@media (max-width: 480px) {
  .heading--h3 {
    font-size: 18px;
  }
}

.heading--h4 {
  line-height: 30px;
  font-size: 20px;
  opacity: 0.7;
}

.heading--h5 {
  font-size: 15px;
}

.heading--h6 {
  font-size: 12px;
}

.heading--small {
  font-size: 16px;
}

.btn {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #181717;
  color: #fdfdfd;
}

.btn--small {
  padding: 10px 24px;
}

.btn--medium {
  padding: 18px 42px;
}

.btn--large {
  padding: 22px 50px;
}

.btn--solid {
  background-color: #181717;
  border: 1px solid #181717;
  color: #fdfdfd;
}

.btn--primary--solid {
  background-color: #4628ff;
  color: #fdfdfd;
}

.btn--warning--solid {
  background-color: #ffd028;
  color: #fdfdfd;
}

.btn--danger--solid {
  background-color: #eb3f27;
  color: #fdfdfd;
}

.btn--success--solid {
  background-color: #75fa83;
  color: #fdfdfd;
}

.btn--primary--outline {
  background-color: transparent;
  border: 1px solid #181717;
  color: #181717;
}

.btn--warning--outline {
  background-color: transparent;
  border: 1px solid #ffd028;
  color: #ffd028;
}

.btn--danger--outline {
  background-color: transparent;
  border: 1px solid #eb3f27;
  color: #eb3f27;
}

.btn--success--outline {
  background-color: transparent;
  border: 1px solid #eb3f27;
  color: #eb3f27;
}

.btn--cercle {
  background-color: transparent;
  border: 1px solid #181717;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 5px;
}

.btn--simple {
  background-color: transparent;
  color: #181717;
}

.btn--simple::after {
  content: '';
  display: block;
  width: 20%;
  height: 1px;
  background: #181717;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.btn--simple:hover {
  background-color: transparent;
  color: #181717;
}

.btn--simple:hover::after {
  width: 100%;
}

.footer {
  background-color: #181717;
  color: #fdfdfd;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.box {
  width: 1440px;
  max-width: 60%;
  padding: 60px 0px;
  margin: 0 auto;
}

.box .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .box .wrapper {
    margin-bottom: 20px;
  }
}

.box__logo {
  font-size: 18px;
  font-weight: 800;
}

.box__socialmedia a {
  font-size: 18px;
  color: #fdfdfd;
  margin-right: 10px;
}

.box span {
  margin-top: 10px;
}

.box--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
}

.hero {
  height: 80vh;
  position: relative;
  background-size: cover;
  background-position: center top;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .hero {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 20vh;
  }
}

.hero__title h1 {
  position: relative;
  font-size: 140px;
  -webkit-animation-name: backgroundColor;
          animation-name: backgroundColor;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-image: url(https://media.giphy.com/media/3o7TKNjXkQ51lGFJjW/giphy.gif);
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

@media (max-width: 1440px) {
  .hero__title h1 {
    font-size: 100px;
  }
}

@media (max-width: 1024px) {
  .hero__title h1 {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .hero__title h1 {
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  .hero__title h1 {
    font-size: 45px;
  }
}

.hero__rotate {
  opacity: 0.6;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
}

.hero__rotate .rotate-center {
  width: 150px;
  height: 150px;
}

@media (max-width: 480px) {
  .hero__rotate .rotate-center {
    width: 100px;
    height: 100px;
  }
}

.hero__arrow {
  width: 300px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 0 75px;
  display: inline-block;
}

@media (max-width: 1440px) {
  .hero__arrow {
    width: 200px;
  }
}

@media (max-width: 1024px) {
  .hero__arrow {
    width: 160px;
    margin: 0 35px;
  }
}

@media (max-width: 768px) {
  .hero__arrow {
    width: 120px;
    margin: 0 25px;
  }
}

@media (max-width: 480px) {
  .hero__arrow {
    width: 75px;
    margin: 0 25px;
  }
}

.hero__arrow:hover {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.card {
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.card__img {
  width: 100%;
  overflow: hidden;
}

.card__img img {
  width: 750px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.card__img img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
}

.card__text {
  color: #181717;
  margin: 20px auto;
}

.logo--content {
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid #c4c4c4;
  margin-right: 40px;
  margin-bottom: 40px;
}

@media (max-width: 1440px) {
  .logo--content {
    margin: 45px auto;
  }
}

@media (max-width: 1024px) {
  .logo--content {
    margin: 35px auto;
  }
}

@media (max-width: 768px) {
  .logo--content {
    margin: 25px auto;
  }
}

@media (max-width: 480px) {
  .logo--content {
    margin: 10px auto;
  }
}

.logo--content__img {
  position: relative;
  width: 100%;
}

.logo--content__img img {
  width: 300px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.logo--content__img img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
}

.logo--content__img .slide_content {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), color-stop(250%, rgba(5, 5, 5, 0.5)));
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(5, 5, 5, 0.5) 250%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slide {
  background-color: blanchedalmond;
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.slider .slide.active {
  opacity: 1;
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
  cursor: pointer;
}

#slider-list {
  width: 650px;
}

#slider-list .slide {
  position: relative;
}

#slider-list .slide .arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fdfdfd;
  padding: 50px 30px;
  font-size: 20px;
  bottom: 0;
}

.activeSlide {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #181717;
  border-bottom: 1px solid #181717;
  opacity: 0.5;
}

.activeSlide.active {
  opacity: 1;
}

.about__title {
  text-align: center;
  width: 900px;
  max-width: 100%;
  margin: 100px auto;
  line-height: 35px;
}

@media (max-width: 768px) {
  .about__title {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .about__title {
    text-align: left;
  }
}

.about .skils {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 100px auto;
}

.about .skils__section {
  width: 600px;
  text-align: center;
}

.about .skils__section small {
  font-weight: 100;
  font-size: 25px;
  opacity: 0.5;
  margin: 0 12px;
}

@media (max-width: 768px) {
  .about .skils__section small {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .about .skils__section small {
    font-size: 18px;
    margin: 0 8px;
  }
}

.about .skils__text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 45px;
}

@media (max-width: 768px) {
  .about .skils__text {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .about .skils__text {
    line-height: 30px;
    font-size: 20px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: calc(100vh - 30vh);
  margin: 100px auto;
  width: 100%;
}

.form__desc {
  width: 600px;
  max-width: 100%;
}

.form .contact {
  width: 700px;
  max-width: 100%;
}

.form .contact .input {
  margin-bottom: 50px;
}

.form .contact .input__label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  opacity: 0.5;
}

.form .contact .input__name, .form .contact .input__subject, .form .contact .input__email, .form .contact .input__message {
  display: block;
  outline: none;
  width: 700px;
  max-width: 100%;
  border: none;
  border-bottom: 1px solid #cacaca;
  padding: 10px;
  font-size: 20px;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

.form .contact .input__name::-webkit-input-placeholder, .form .contact .input__subject::-webkit-input-placeholder, .form .contact .input__email::-webkit-input-placeholder, .form .contact .input__message::-webkit-input-placeholder {
  color: black;
  font-size: 25px;
}

.form .contact .input__name:-ms-input-placeholder, .form .contact .input__subject:-ms-input-placeholder, .form .contact .input__email:-ms-input-placeholder, .form .contact .input__message:-ms-input-placeholder {
  color: black;
  font-size: 25px;
}

.form .contact .input__name::-ms-input-placeholder, .form .contact .input__subject::-ms-input-placeholder, .form .contact .input__email::-ms-input-placeholder, .form .contact .input__message::-ms-input-placeholder {
  color: black;
  font-size: 25px;
}

.form .contact .input__name::placeholder, .form .contact .input__subject::placeholder, .form .contact .input__email::placeholder, .form .contact .input__message::placeholder {
  color: black;
  font-size: 25px;
}

.form .contact .input__name::after, .form .contact .input__subject::after, .form .contact .input__email::after, .form .contact .input__message::after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  border-bottom: 1px solid #cacaca;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

.form .contact .input__name:focus, .form .contact .input__subject:focus, .form .contact .input__email:focus, .form .contact .input__message:focus {
  border-bottom: 1px solid #181717;
}

.form .contact .input__name:focus::after, .form .contact .input__subject:focus::after, .form .contact .input__email:focus::after, .form .contact .input__message:focus::after {
  width: 100%;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: #181717;
}

.loading__text {
  color: #fdfdfd;
}

.loading__text p {
  font-size: 14px;
}

.service {
  height: 25vw;
  border-top: 0.1px solid #b4b4b4;
  position: relative;
}

@media (max-width: 480px) {
  .service {
    height: 40vw;
    display: none;
  }
}

.service_background {
  position: absolute;
  width: 950px;
  height: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  opacity: 1;
  z-index: 1;
  -webkit-animation-name: backgroundEffect;
          animation-name: backgroundEffect;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 1440px) {
  .service_background {
    width: 750px;
    height: 500px;
  }
}

@media (max-width: 1024px) {
  .service_background {
    width: 660px;
    height: 450px;
  }
}

@media (max-width: 768px) {
  .service_background {
    width: 460px;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .service_background {
    width: 950px;
    height: 600px;
  }
}

.service_title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  color: transparent;
  -webkit-text-stroke: 2px #181717;
  z-index: 2;
}

@media (max-width: 1440px) {
  .service_title {
    -webkit-text-stroke: 2px #181717;
  }
}

@media (max-width: 1024px) {
  .service_title {
    -webkit-text-stroke: 1.5px #181717;
  }
}

@media (max-width: 768px) {
  .service_title {
    -webkit-text-stroke: 1px #181717;
  }
}

@media (max-width: 480px) {
  .service_title {
    -webkit-text-stroke: 1px #181717;
  }
}

.service_title span {
  font-size: 150px;
  font-weight: 800;
}

.service_title span:hover {
  color: #181717;
  -webkit-text-stroke: 1.5px #181717;
}

@media (max-width: 1440px) {
  .service_title span {
    font-size: 110px;
  }
}

@media (max-width: 1024px) {
  .service_title span {
    font-size: 90px;
  }
}

@media (max-width: 768px) {
  .service_title span {
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  .service_title span {
    font-size: 30px;
  }
}

@-webkit-keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 50% 50%;
  }
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 50% 50%;
  }
}

@media (max-width: 1440px) {
  .descreption {
    margin-top: 50px;
  }
}

@media (max-width: 1024px) {
  .descreption {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .descreption {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .descreption {
    margin-top: 30px;
  }
}

.descreption_paragraphe {
  width: 100%;
  max-width: 700px;
}

.typography--content {
  height: 100%;
  margin: 30px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.typography--content__img {
  position: relative;
  width: 100%;
}

.typography--content__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.typography--content__img img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
}

.typography--content__img .slide_content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), color-stop(250%, rgba(5, 5, 5, 0.5)));
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(5, 5, 5, 0.5) 250%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.wrapper1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.wrapper1 .div3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 100000;
}

.profile_img {
  position: relative;
  height: 100%;
}

.profile_img img {
  width: 450px;
  max-width: 100%;
}

.profile_img::before {
  content: '';
  position: absolute;
  border: 1px solid black;
  width: 450px;
  max-width: 100%;
  height: 100%;
  left: -4%;
  bottom: 2%;
  z-index: -1;
}

.profile_desc {
  margin-left: 100px;
}

@media (max-width: 1440px) {
  .profile_desc {
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .profile_desc {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .profile_desc {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .profile_desc {
    margin-left: 0;
  }
}

.home {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: yellowgreen;
}

.home__text {
  height: 550px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__text h1 {
  font-size: 60px;
  display: block;
}

.home__text h2 {
  font-family: Autography;
  font-size: 170px;
  font-weight: 100;
  display: block;
  margin: 30px 0px;
}

.home__text p {
  font-size: 15px;
  width: 610px;
  max-width: 100%;
}

.home__slider {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 75%;
}

.home__slider .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home__slider .slider .slider-inner {
  position: absolute;
  width: 170%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[4];
      grid-template-columns: repeat(4, 350px);
  gap: 10px;
  pointer-events: none;
}

.home__slider .slider .slider-inner .home__slider--image {
  position: relative;
  height: 100%;
}

.home__slider .slider .slider-inner .home__slider--image > img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.home__slider .slider .slider-inner .home__slider--image > a {
  position: absolute;
  bottom: 45px;
  left: 25px;
  pointer-events: auto;
  font-weight: 600;
  font-size: 25px;
  color: #fdfdfd;
}
