header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

header .inner-header {
  position: relative;
  height: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1001;
}

header .inner-header .logo a {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: #181717;
}

header .inner-header .menu button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 1.8rem;
  mix-blend-mode: difference;
}

header .hamburger-menu {
  display: none;
  top: 0;
  left: 50%;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  header .hamburger-menu {
    left: 25%;
  }
}

@media (max-width: 768px) {
  header .hamburger-menu {
    left: 0;
  }
}

@media (max-width: 480px) {
  header .hamburger-menu {
    left: 0;
  }
}

header .hamburger-menu .menu-secondary-background-color {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.701);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

header .hamburger-menu .menu-layer {
  position: relative;
  background: #fdfdfd;
  overflow: hidden;
}

header .hamburger-menu .menu-layer .wrapper {
  height: 100vh;
  width: 100%;
}

header .hamburger-menu .menu-layer .wrapper .menu-links {
  margin: 150px auto;
}

@media (max-width: 1024px) {
  header .hamburger-menu .menu-layer .wrapper .menu-links {
    margin: 150px auto;
  }
}

@media (max-width: 768px) {
  header .hamburger-menu .menu-layer .wrapper .menu-links {
    margin: 150px auto;
  }
}

@media (max-width: 480px) {
  header .hamburger-menu .menu-layer .wrapper .menu-links {
    margin: 150px auto;
  }
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav {
  display: block;
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul {
  margin: 10% auto;
  padding: 0;
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li {
  list-style: none;
  font-size: 90px;
  font-weight: 700;
  cursor: pointer;
  height: 120px;
  overflow: hidden;
}

@media (max-width: 1440px) {
  header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li {
    font-size: 80px;
    height: 115px;
  }
}

@media (max-width: 1024px) {
  header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li {
    font-size: 70px;
    height: 115px;
  }
}

@media (max-width: 768px) {
  header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li {
    font-size: 70px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li {
    font-size: 50px;
    height: 80px;
  }
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a {
  position: absolute;
  color: #fdfdfd;
  -webkit-text-stroke: 2px #181717;
  text-decoration: none;
}

@media (max-width: 768px) {
  header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a {
    -webkit-text-stroke: 1px #181717;
  }
}

@media (max-width: 480px) {
  header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a {
    -webkit-text-stroke: 1px #181717;
  }
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a:hover {
  color: #181717;
}
