.section-skills {
  height: 100%;
  display: none;
}

@media (max-width: 480px) {
  .section-skills {
    display: unset;
  }
}

.section-skills .section-grid .container1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 50px;
  margin: 5rem 0 5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .section-skills .section-grid .container1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px 50px;
  }
}

@media (max-width: 768px) {
  .section-skills .section-grid .container1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .section-skills .section-grid .container1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
}

.section-skills .section-grid .container1 .wrapper {
  background-color: #f4f4f4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.section-skills .section-grid .container1 .wrapper:nth-child(even) {
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (max-width: 1024px) {
  .section-skills .section-grid .container1 .wrapper:nth-child(even) {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .section-skills .section-grid .container1 .wrapper:nth-child(even) {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    top: 0;
  }
}

@media (max-width: 480px) {
  .section-skills .section-grid .container1 .wrapper:nth-child(even) {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    top: 0;
  }
}

.section-skills .section-grid .container1 .wrapper img {
  width: 100%;
  height: 100%;
  bottom: 0;
  display: block;
}

.section-skills .section-grid .container1 .wrapper img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.section-skills .section-grid .container1 .wrapper .project-title {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 101;
  right: 5px;
  top: -22px;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.section-skills .section-grid .container1 .wrapper .project-title h4 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .section-skills .section-grid .container1 .wrapper .project-title h4 {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .section-skills .section-grid .container1 .wrapper .project-title h4 {
    font-size: 25px;
  }
}

.section-skills .section-grid .container1 .wrapper .project-info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 102;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-skills .section-grid .container1 .wrapper .project-info h4 {
  font-size: 60px;
  color: white;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .section-skills .section-grid .container1 .wrapper .project-info h4 {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .section-skills .section-grid .container1 .wrapper .project-info h4 {
    font-size: 25px;
  }
}

.section-skills .section-grid .container1 .wrapper .project-info .project-link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.section-skills .section-grid .container1 .wrapper .project-info .project-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.section-skills .section-grid .container1 .wrapper .project-info .project-link:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
