$desktop: 1220px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

.instagram-container {
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 100px auto;
   .container {
      // margin: 1rem;
      flex: 1;
      .box-image {
         flex: 1;

         position: relative;
         overflow: hidden;
         max-width: 100%;
         width: 450px;

         img {
            max-width: 100%;
            overflow: hidden;
         }
      }
      .box-text {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         position: absolute;
         color: #fff;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: 1;
         opacity: 0;
         background-color: rgba(0, 0, 0, 0.646);
      }
   }
}

@media (max-width: $desktop) {
   .instagram-container {
      .container {
         .box-image {
         }
         .box-text {
         }
      }
   }
}
@media (max-width: $laptop) {
   .box-image {
      width: 100%;
   }
}
@media (max-width: $tablet) {
}
@media (max-width: $phone) {
}
