.about {
   &__title {
      text-align: center;
      width: 900px;
      max-width: 100%;
      margin: 100px auto;
      line-height: 35px;
      @media (max-width: $tablet) {
         text-align: left;
      }
      @media (max-width: $phone) {
         text-align: left;
      }
      
   }

   .skils {
      justify-content: space-around;
      margin: 100px auto;

      &__section {
         width: 600px;
         text-align: center;

         small {
            font-weight: 100;
            font-size: 25px;
            opacity: 0.5;
            margin: 0 12px;

            @media (max-width: $tablet) {
               font-size: 25px;
            }
            @media (max-width: $phone) {
               font-size: 18px;
               margin: 0 8px;
            }
         }
      }
      &__text {
         justify-content: center;
         line-height: 45px;

         @media (max-width: $tablet) {
            font-size: 28px;
         }
         @media (max-width: $phone) {
            line-height: 30px;
            font-size: 20px;
         }
      }
   }
}

