$primary: #4628ff;
$warning: #ffd028;
$danger: #eb3f27;
$success: #75fa83;

$white: #fdfdfd;
$black: #181717;

.btn {
   font-size: 16px;
   font-weight: 400;
   // border-radius: 2px;
   cursor: pointer;
   transition: transform 0.3s ease;
   &:hover {
      transform: translateY(-3px);
      background-color: $black;
      color: $white;
   }
}

//*? Button Colors and Styles  */

//! BUTTON SIZES

.btn--small {
   padding: 10px 24px;
}
.btn--medium {
   padding: 18px 42px;
}
.btn--large {
   padding: 22px 50px;
}

//! BUTTON STYLES

.btn--solid {
   background-color: $black;
   border: 1px solid $black;

   color: $white;
}
.btn--primary--solid {
   background-color: $primary;

   color: $white;
}
.btn--warning--solid {
   background-color: $warning;
   color: $white;
}
.btn--danger--solid {
   background-color: $danger;
   color: $white;
}
.btn--success--solid {
   background-color: $success;
   color: $white;
}

.btn--primary--outline {
   background-color: transparent;
   border: 1px solid $black;
   color: $black;
}
.btn--warning--outline {
   background-color: transparent;
   border: 1px solid $warning;
   color: $warning;
}
.btn--danger--outline {
   background-color: transparent;
   border: 1px solid $danger;
   color: $danger;
}
.btn--success--outline {
   background-color: transparent;
   border: 1px solid $danger;
   color: $danger;
}
.btn--cercle {
   background-color: transparent;
   border: 1px solid $black;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   margin: 5px;
}

.btn--simple {
   background-color: transparent;
   // border: 1px solid $black;
   color: $black;

   &::after {
      content: '';
      display: block;
      width: 20%;
      height: 1px;
      background: $black;
      transition: width 0.3s;
   }

   &:hover {
      background-color: transparent;
       color: $black;
   }
   &:hover::after {
      width: 100%;
   }
}
