.card {
   //display: flex;
   //  align-items: center;

   height: 100%;

   //  margin: 30px auto;

   // border-radius: 5px;
   // overflow: hidden;
   transition: all 0.3s;
   cursor: pointer;
   // position: relative;
   // background-color: $black;

   &__img {
      width: 100%;
      overflow: hidden;
    

      img {
         width: 750px;
         max-width: 100%;
         object-fit: cover;
         transition: transform 0.3s ease;

         &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
         }
      }
   }
   &__text {
      // position: absolute;
      // bottom: 0;
      // left: 0;
      // -webkit-transform: translate(0%, -50%);
      // padding: 10px 25px;
      // opacity: 0;
      color: $black;
      margin: 20px auto;

      // &:hover {
      //    opacity: 1;
      // }
   }
}
