.cursor {
   z-index: 1000000;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: $black;
   //    border: 1px solid $black;
   pointer-events: none;
   overflow: hidden;
   transform: translate3d(0, 0, 0);

   position: fixed;
   backface-visibility: hidden;
   transition: transform 300ms ease-in-out;
   //    mix-blend-mode: difference;
   //     transition: all 0.4s ease;
   //    transition-property: background, transform;
   // mix-blend-mode: difference;
   @media only screen and (max-width: $desktop) {
      opacity: 0;
   }
   @media (max-width: $laptop) {
      opacity: 0;
   }
   @media (max-width: $tablet) {
      opacity: 0;
   }
   @media (max-width: $phone) {
      opacity: 0;
   }
}
.footer-cursor--white {
   transform: scale(3.5);
   background-color: white;
   @media (max-width: $tablet) {
      opacity: 0;
   }
   @media (max-width: $phone) {
      opacity: 0;
   }
}
.link-grow {
   transform: scale(6);
   background-color: $black;
   // mix-blend-mode: difference;
   @media (max-width: $tablet) {
      opacity: 0;
   }
   @media (max-width: $phone) {
      opacity: 0;
   }
}

.translate-cursor-router {
   //   width: 100vw;
   //   height: 100vh;

   transform: scale(950);
   transition: scale 650ms ease;
}
