.descreption {
   // margin: 100px 0;
   // margin-top: 100px;
   // margin-bottom: 50px;
   // display: flex;
   // justify-content: space-between;
   // flex-wrap: wrap;
   @media (max-width: $desktop) {
      margin-top: 50px;
   }
   @media (max-width: $laptop) {
      margin-top: 50px;
   }
   @media (max-width: $tablet) {
      margin-top: 40px;
   }
   @media (max-width: $phone) {
      margin-top: 30px;
   }
   &_title {
   }

   &_paragraphe {
      width: 100%;
      max-width: 700px;
   
   }
}
