.bolder--800 {
   font-weight: 800;
}
.normal--400 {
   font-weight: 400;
   line-height: 25px;
   font-size: 16px;
}
.subtitle {
   text-transform: uppercase;
   letter-spacing: 8px;
   opacity: 0.5;
   display: inherit;
}

.heading--h1 {
   font-size: 35px;
   // line-height: 45px;

   @media (max-width: $laptop) {
      font-size: 30px;
   }
   @media (max-width: $tablet) {
      font-size: 30px;
   }
   @media (max-width: $phone) {
      font-size: 25px;
   }
}
.heading--h2 {
   font-size: 40px;
   @media (max-width: $laptop) {
      font-size: 40px;
   }
   @media (max-width: $tablet) {
      font-size: 25px;
   }
   @media (max-width: $phone) {
      font-size: 18px;
   }
}
.heading--h3 {
   font-size: 35px;
   @media (max-width: $laptop) {
      font-size: 30px;
   }
   @media (max-width: $tablet) {
      font-size: 20px;
      line-height: 10px;
   }
   @media (max-width: $phone) {
      font-size: 18px;
   }
}
.heading--h4 {
   line-height: 30px;
   font-size: 20px;
   opacity: 0.7;
}
.heading--h5 {
   font-size: 15px;
}
.heading--h6 {
   font-size: 12px;
}
.heading--small {
   font-size: 16px;
}
