.hero {
   height: 80vh;
   position: relative;

   background-size: cover;
   background-position: center top;
   // mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
   z-index: 2;

   display: flex;
   justify-content: center;
   align-items: center;
   @media (max-width: $tablet) {
      width: 100%;
      height: 50vh;
      // display: none;
   }
   @media (max-width: $phone) {
      height: 20vh;
   }
   &__title {
      h1 {
         position: relative;
         font-size: 140px;
         animation-name: backgroundColor;
         animation-duration: 10s;
         animation-iteration-count: infinite;
         @media (max-width: $desktop) {
            font-size: 100px;
         }
         @media (max-width: $laptop) {
            font-size: 80px;
         }
         @media (max-width: $tablet) {
            font-size: 60px;
         }
         @media (max-width: $phone) {
            font-size: 45px;
         }
         
         background-image: url(https://media.giphy.com/media/3o7TKNjXkQ51lGFJjW/giphy.gif);
         
         // background-size: cover;
         color: transparent;
         -moz-background-clip: text;
         -webkit-background-clip: text;
         //text-transform: uppercase;
         // font-size: 120px;
         // line-height: .75;
         // margin: 10px 0;
      }
   }
   &__rotate {
      opacity: 0.6;
      position: absolute;

      left: 0;
      bottom: 0;
      padding: 20px;

      .rotate-center {
         width: 150px;
         height: 150px;
         @media (max-width: $phone) {
            width: 100px;
            height: 100px;
         }
      }
   }
   &__arrow {
      width: 300px;
      cursor: pointer;
      transition: 0.3s ease;
      margin: 0 75px;
      display: inline-block;

      @media (max-width: $desktop) {
         width: 200px;
      }
      @media (max-width: $laptop) {
         width: 160px;
         margin: 0 35px;
      }
      @media (max-width: $tablet) {
         width: 120px;
         margin: 0 25px;
      }
      @media (max-width: $phone) {
         width: 75px;
         margin: 0 25px;
      }
      &:hover {
         transform: translateX(10%);
      }
   }
}
