.home {
   position: relative;
   display: grid;
   grid-template-columns: 650px 1fr;
   // grid-template-columns: 1fr;
   column-gap: 130px;
   align-items: center;
   // height: 190vh;
   margin: 200px auto;
   &__text {
      // flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
         font-size: 60px;
         // display: block;
      }
      h2 {
         font-family: Autography;
         font-size: 170px;
         font-weight: 100;
         display: block;
         margin: 30px 0px;
      }
      p {
         font-size: 15px;
         // width: 610px;
         // max-width: 100%;
      }
   }
   &__slider {
      position: relative;
      // flex: 1;
      width: 100%;
      height: 650px;
      //  mask-image: linear-gradient(to right , rgb(0, 0, 0), rgba(0, 0, 0, 0.171));
      @media (max-width: $phone) {
         display: none;
      }
      .slider {
         position: absolute;
         width: 100%;
         height: 100%;
         overflow: hidden;

         .slider-inner {
            position: absolute;
            width: 200%;
            display: grid;
            grid-template-columns: repeat(5, 350px);
            gap: 10px;
            pointer-events: none;
            // transition: 100ms ease-in;
            .home__slider--image {
               position: relative;
               //    width: 100%;
               height: 100%;
               > img {
                  border-radius: 10px;
                  height: 100%;
                  width: 100%;
               }
               > a {
                  position: absolute;
                  bottom: 45px;
                  left: 25px;
                  pointer-events: auto;
                  font-weight: 600;
                  font-size: 25px;
                  color: $white;
               }
            }
         }
      }
   }
}

@media (max-width: $laptop) {
   .home__slider {
      .slider {
         position: absolute;
         width: 100%;
         height: 100%;
         overflow: hidden;

         .slider-inner {
            position: absolute;
            width: 170%;
            display: grid;
            grid-template-columns: repeat(4, 350px);
            gap: 10px;
            pointer-events: none;
            // transition: 100ms ease-in;
            .home__slider--image {
               position: relative;
               //    width: 100%;
               height: 100%;
               > img {
                  border-radius: 10px;
                  height: 100%;
                  width: 100%;
               }
               > a {
                  position: absolute;
                  bottom: 45px;
                  left: 25px;
                  pointer-events: auto;
                  font-weight: 600;
                  font-size: 25px;
                  color: $white;
               }
            }
         }
      }
   }
}
@media (max-width: $phone) {
   .home__text {
      width: 350px;
      h1 {
         font-size: 32px;
         display: block;
      }
      h2 {
         font-family: Autography;
         font-size: 100px;
         margin: 30px 0px;
      }
      p {
         font-size: 14px;
      }
   }
}
