.logo--content {
   height: 100%;
   transition: all 0.3s;
   cursor: pointer;
   border: 1px solid rgb(196, 196, 196);

   margin-right: 40px;
   margin-bottom: 40px;
   // &:not(:last-child) {
   //    margin-right: 40px;
   //    margin-bottom: 40px;
   //     @media (max-width: $phone) {
   //                margin-right: 0px;

   // }
   // }

   @media (max-width: $desktop) {
      margin: 45px auto;
   }
   @media (max-width: $laptop) {
      margin: 35px auto;
   }
   @media (max-width: $tablet) {
      margin: 25px auto;
   }
   @media (max-width: $phone) {
      margin: 10px auto;
   }

   &__img {
      position: relative;
      width: 100%;
      img {
         width: 300px;
         max-width: 100%;
         object-fit: cover;
         transition: transform 0.3s ease;

         &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
         }
      }

      .slide_content {
         opacity: 0;
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;

         width: 100%;
         height: 70px;
         z-index: 1;
         display: grid;
         place-items: center;
         // background: linear-gradient(#fafafa5b, #58585883);
         background: linear-gradient(
            to bottom,
            rgba(255, 0, 0, 0) 0%,
            rgba(5, 5, 5, 0.5) 250%
         );
         transition: transform 0.3s ease;
      }
   }
}
