.profile {
   display: flex;
   justify-content: center;
   align-items: center;
    margin: 150px auto;

   flex-wrap: wrap;
   z-index: 100000;
   &_img {
      position: relative;
         height: 100%;

      img {
         width: 450px;
         max-width: 100%;
         
      }
      &::before {
         content: '';
         position: absolute;
         border: 1px solid black;
         width: 450px;
         max-width: 100%;

         height: 100%;
         left: -4%;
         bottom: 2%;
         z-index: -1;
      }
   }
   &_desc {
      margin-left: 100px;
      @media (max-width: $desktop) {
         margin: 0 auto;
      }
      @media (max-width: $laptop) {
         margin-left: 50px;
      }
      @media (max-width: $tablet) {
         margin-left: 0;
         text-align: center;
      }
      @media (max-width: $phone) {
         margin-left: 0;
      }
   }
}
