.service {
   height: 25vw;
   border-top: 0.1px solid rgb(180, 180, 180);
   position: relative;
   @media (max-width: $phone) {
      height: 40vw;
      display: none;
   }
   &_background {
      position: absolute;
      width: 950px;
      height: 600px;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
      opacity: 1;
      z-index: 1;
      animation-name: backgroundEffect;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      @media (max-width: $desktop) {
                 width: 750px;
      height: 500px;

         }
         @media (max-width: $laptop) {
                 width: 660px;
      height: 450px;

         }
         @media (max-width: $tablet) {
                  width: 460px;
      height: 400px;
;
         }
         @media (max-width: $phone) {
      width: 950px;
      height: 600px;
            
         }
   }
   &_title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 1s ease;
      color: transparent;
      -webkit-text-stroke: 2px $black;
      z-index: 2;

      @media (max-width: $desktop) {
                 -webkit-text-stroke: 2px $black;

         }
         @media (max-width: $laptop) {
                  -webkit-text-stroke: 1.5px $black;

         }
         @media (max-width: $tablet) {
                  -webkit-text-stroke: 1px $black;
;
         }
         @media (max-width: $phone) {
      -webkit-text-stroke: 1px $black;
            
         }
      span {
         font-size: 150px;
         font-weight: 800;

         &:hover {
            color: $black;
            -webkit-text-stroke: 1.5px $black;
         }
         @media (max-width: $desktop) {
            font-size: 110px;
         }
         @media (max-width: $laptop) {
            font-size: 90px;
         }
         @media (max-width: $tablet) {
            font-size: 60px;
         }
         @media (max-width: $phone) {
            font-size: 30px;
         }
      }
   }
}

@keyframes backgroundEffect {
   0% {
      background-position: 0% 0%;
   }
   25% {
      background-position: 40% 10%;
   }
   50% {
      background-position: 0 10%;
   }
   75% {
      background-position: 10% 40%;
   }
   100% {
      background-position: 50% 50%;
   }
}
