.slider {
   position: relative;
   overflow: hidden;
   height: 70vh;
   display: flex;

   .slide {
      background-color: blanchedalmond;
       position: absolute;
       top: 0;
       left: 0;
      width: 450px;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;

      transition: 0.6s ease;
   }

   .slide.active {
      opacity: 1;
      transition-duration: 0.9s;
      cursor: pointer;
   }
}

#slider-list {
   width: 650px;

   .slide {
      position: relative;

      .arrows {
         position: absolute;

         display: flex;
         align-items: center;

         color: $white;
         padding: 50px 30px;
         font-size: 20px;
         bottom: 0;
      }
   }
}
.activeSlide {
   margin-right: 10px;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
   // color: #d4d4d4;
   // border-bottom: 1px solid #d4d4d4;
   color: $black;
   border-bottom: 1px solid $black;
   opacity: 0.5;

   &.active {
      opacity: 1;
   }
}
