.typography--content {
   height: 100%;
   margin: 30px auto;
   transition: all 0.3s;
   cursor: pointer;
   // border: 1px solid rgb(196, 196, 196);

   &__img {
      position: relative;
      width: 100%;
      img {
         // width: 655px;
         max-width: 100%;
         object-fit: cover;
         transition: transform 0.3s ease;

         &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
         }
      }

      .slide_content {
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;

         width: 100%;
         height: 70px;
         z-index: 1;
         display: grid;
         place-items: center;
         // background: linear-gradient(#fafafa5b, #58585883);
         background: linear-gradient(
            to bottom,
            rgba(255, 0, 0, 0) 0%,
            rgba(5, 5, 5, 0.5) 250%
         );
         transition: transform 0.3s ease;
      }
   }
}

.wrapper1 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   // grid-template-rows: repeat(5, 1fr);
   grid-column-gap: 10px;
   grid-row-gap: 10px;

  
   .div3 {
      // grid-area: 3 / 2 / 5 / 3;
      grid-column-start:1;
      grid-column-end:3 ;

   }
}

