$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

$black: #181717;
$white: #fdfdfd;

header {
   position: sticky;
   top: 0;
   z-index: 999;

   .inner-header {
      position: relative;
      height: 30px;

      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1001;

      .logo a {
         font-weight: 700;
         font-size: 1rem;
         text-decoration: none;
         color: $black;
      }
      .menu {
         button {
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
            font-size: 1.8rem;
            mix-blend-mode: difference;
         }
      }
   }
   .hamburger-menu {
      display: none;
      // z-index: 9;
      top: 0;
      left: 50%;
      right: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      @media (max-width: $laptop) {
         left: 25%;
      }
      @media (max-width: $tablet) {
         left: 0;
      }
      @media (max-width: $phone) {
         left: 0;
      }

      .menu-secondary-background-color {
         // background: $black;
         opacity: 0.5;
         background-color: rgba(0, 0, 0, 0.701);
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         position: fixed;
         height: 100%;
         width: 100%;
         z-index: -1;
      }
      .menu-layer {
         position: relative;
         background: $white;
         overflow: hidden;

         .wrapper {
            height: 100vh;
            width: 100%;

            .menu-links {
               margin: 150px auto;
               @media (max-width: $laptop) {
                  margin: 100px auto;
               }
               @media (max-width: $tablet) {
                  margin: 100px auto;
               }
               @media (max-width: $phone) {
                  margin: 100px auto;
               }
               nav {
                  display: block;
                  ul {
                     margin: 30px auto;
                     padding: 0;

                     li {
                        list-style: none;
                        font-size: 90px;
                        font-weight: 700;
                        cursor: pointer;
                        height: 120px;
                        overflow: hidden;
                        // position: relative;

                        @media (max-width: $desktop) {
                           font-size: 80px;
                           height: 115px;
                        }
                        @media (max-width: $laptop) {
                           font-size: 70px;
                           height: 115px;
                        }
                        @media (max-width: $tablet) {
                           font-size: 70px;
                           height: 100px;
                        }
                        @media (max-width: $phone) {
                           font-size: 50px;
                           height: 80px;
                        }
                        a {
                           position: absolute;
                           color: $white;

                           -webkit-text-stroke: 2px $black;
                           text-decoration: none;

                           @media (max-width: $tablet) {
                              -webkit-text-stroke: 1px $black;
                           }
                           @media (max-width: $phone) {
                              -webkit-text-stroke: 1px $black;
                           }
                           &:hover {
                              color: $black;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
