$gray: rgb(171, 171, 171);
$gray-charcoal: rgb(50, 50, 50);

$desktop: 1220px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

.card {
   // width: 65vw;
   margin: 0 auto;
   .container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 50px;
      .project-info {
         flex: 0.7;
         width: 500px;
         margin: 20px 0;
         h1 {
            font-size: 1.5rem;
         }
         ul,
         p {
            margin: 20px 0;
            font-size: 1.2rem;
         }
         .work_links {
            font-size: 1.2rem;

            .project-link {
               margin-right: 10px;
               font-weight: 600;
               color: #000;
            }
            .work_code {
               color: rgb(0, 0, 0);
               font-size: 1.5rem;
               margin: 10px;
               &:hover {
                  color: rgb(109, 109, 109);
                  transform: scale(1.2);
               }
            }
         }
      }
      .project-image {
         width: 750px;
         overflow: hidden;
      }
   }
}

//? Mobile
@media (max-width: $desktop) {
   .card {
      .container {
         .project-image {
            width: 500px;
         }
      }
   }
}

@media (max-width: $laptop) {
   .card {
      .container {
         .project-image {
            width: 450px;
         }
      }
   }
}
@media (max-width: $tablet) {
   .card {
      .container {
         flex-direction: column-reverse;
         .project-info {
            width: 100%;
         }
         .project-image {
            width: 100%;
         }
      }
   }
}

@media (max-width: $phone) {
   .card {
      .container {
         .project-info {
         }
         .project-image {
         }
      }
   }
}
