body {
   width: 100vw;
   overflow-x: hidden;
   background-color: $white;
}

.App {
   width: 100vw;
   min-height: 100vh;
   overflow-x: hidden;
   margin: 0 auto;
}

.container {
   width: 85%;
   max-width: 100%;
   margin: 30px auto;

   @media (max-width: $desktop) {
      width: 90%;
   }
   @media (max-width: $laptop) {
      width: 90%;
   }
   @media (max-width: $tablet) {
      width: 90%;
   }
   @media (max-width: $phone) {
      width: 90%;
   }
}
.flex {
   display: flex;
}
.flex--wrap {
   display: flex;
   flex-wrap: wrap;
}
.grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 30px;
   row-gap: 25px;
   @media (max-width: $laptop) {
   }
   @media (max-width: $tablet) {
      grid-template-columns: 1fr;
   }
   @media (max-width: $phone) {
      grid-template-columns: 1fr;
   }
}
.flex--center {
   display: flex;
   justify-content: center;
   align-items: center;
}
