@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

body {
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   color: $black;
}
h1 {
   font-weight: 700;
   font-size: 32px;
}
h2 {
   font-weight: 600;
   font-size: 24px;
}
p {
   font-weight: 300;
   line-height: 25px;
   font-size: 16px;
}
.mb--s {
   margin-bottom: 25px;
}
.text--mb--s {
   margin-bottom: 25px;
}
.text--mb--m {
   margin-bottom: 50px;
}
.text--mb--l {
   margin-bottom: 100px;
}
.mt--s {
   margin-top: 25px;
}
.mt--m {
   margin-top: 50px;
}
.mt--l {
   margin-top: 100px;
}
.mr {
   margin-right: 80px;
}

a{
      color: $black;

   }
   a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

